<!--    
# ================================================================
#   Name:           post html
#   Description:    UI for create route
#   Last Changed:   12/1/21
#   Changed By:     Reagan Kelley
#   Change Details: Added Writer's email to post, time commitment, 
#                   and start to end date. Added research fields
# ================================================================
-->

<table class = "posttable" style = "width:70%" valign="top">
    <tr> 
        <!-- Print Job Title -->
        <td colspan="3"><div class="posttitle"> {{post.title}} </div>

            <!-- If current user owns this post -->
            {% if (current_user.id == post.writer.id) %}
                hello there

            <form action = "{{url_for('routes.updateposition', post_id = post.id)}}" method="post">
            <input type="submit", value="Delete Post", class="unapply_button">
            </form>
            {% endif %}
        </td>
    </tr>

    <tr>
        <td colspan="3" style = "text-align:left" valign="bottom">  
              <span> Posted by:  <span class = "useritem"> {{post.writer.username }} | {{post.writer.email}}</span></span>


          </td>
    </tr>


    <tr>
        
        <td width="80%" >
            <div>
              <!-- Print Job Description -->    
              <div class="postbody">{{ post.body }}</div>
              <div class ="postitle"> {{ post.time_commitment }} hours per week.</div>
              <div class="posttimestamp"><b>From</b> {{ post.start_date }} <b>To</b> {{ post.end_date }} </div>
           </div>
        </td> 

        <td width = "5%"> 

        </td>
    </tr>
    
    <tr> 
        <td colspan="3" style = "text-align:left" valign="bottom">  
            <br>
            <!-- Print Major Tags -->
            {% for major in post.get_majors().all() %}
                <span class= "posttags"></div>{{ major.get_major_name() }} </span>
            {% endfor %}
            <br> <br>
            {% for field in post.get_fields().all() %}
            <span class= "fieldtags"></div>{{ field.get_name() }} </span>
            {% endfor %}
            <div> 
                <!-- Prints Post Timestamp -->
                <br>
                <div class="posttimestamp"><b>Posted at: </b> {{ moment(post.timestamp).format('LLLL') }} </div>

                {% if current_user.get_user_type() == 'student' %}
                {% if current_user.has_applied(post) == false %}
                <form action = "{{url_for('routes.submit_application', postid = post.id)}}" method="post">
                    <input type="submit", value="Send Application", class="apply_button">
                 </form>

                 {% elif current_user.get_status(post) == 'Pending' %}

                 <form action = "{{url_for('routes.unapply', postid = post.id)}}" method="post">
                    <input type="submit", value="Withdraw Application", class="unapply_button">
                 </form>

                 {% elif current_user.get_status(post) ==  'Reject' %}

                 <p style="color:red"> Rejected </p>
   
                {% elif current_user.get_status(post) == 'Interview' %}
   
                <p style="color:lightsalmon"> Approved for Interview </p>

                 {% endif %}

                 {% endif %}

                 </div>
             </div> 

        </td>
    </tr>



</table>