<!--    
# ================================================================
#   Name:           post html
#   Description:    UI for create route
#   Last Changed:   11/12/21
#   Changed By:     Reagan Kelley
#   Change Details: Inital Implementation of post 
#                   (Prints a Post)
# ================================================================
-->

<table class = "posttable" style = "width:50%" valign="top">
    <tr> 
        <!-- Print Job Title -->
        <td colspan="3"><div class="posttitle"> {{post.title}} </div>
        </td>
    </tr>

    <tr>
        <td colspan="3" style = "text-align:left" valign="bottom">  
              <!-- (milestone3) TODO: include username who posted the post-->
              <span> Posted by:  <span class = "useritem"> {{post.writer.username }} </span></span>


          </td>
    </tr>


    <tr>
        
        <td width="80%" >
            <div>
              <!-- Print Job Description -->    
              <div class="postbody">{{ post.body }}</div>
           </div>
        </td> 

        <td width = "5%"> 

        </td>
    </tr>
    
    <tr> 
        <td colspan="3" style = "text-align:left" valign="bottom">  
            <br>
            <!-- Print Major Tags -->
            {% for major in post.get_majors().all() %}
                <span class= "posttags"></div>{{ major.get_major_name() }} </span>
            {% endfor %}
            <div> 
                <!-- Prints Post Timestamp -->
                <br>
                <div class="posttimestamp"><b>Posted at: </b> {{ moment(post.timestamp).format('LLLL') }}

                {% if current_user.get_user_type() == 'Student' %}
                {% if current_user.has_applied(post) == false %}
                <form action = "{{url_for('routes.apply', postid = post.id)}}" method="post">
                    <input type="submit", value="Send Application", class="apply_button">
                 </form>

                 {% else %}

                 <form action = "{{url_for('routes.unapply', postid = post.id)}}" method="post">
                    <input type="submit", value="Withdraw Application", class="unapply_button">
                 </form>

                 {% endif %}

                 {% endif %}

                 </div>
             </div> 

        </td>
    </tr>



</table>