

<p><b>Name:</b> {{ profile.first_name }} {{ profile.last_name }}</p>
<p><b>WSU ID:</b> {{ profile.wsu_id }}</p>
<p><b>Email:</b> {{ student.email }}</p>
<p><b>Phone Number:</b> {{ profile.phone_no }}</p>
<p><b>Major:</b> {{ profile.major }}</p>
<p><b>GPA:</b> {{ profile.gpa }}</p>
<p><b>Expected Graduation Date:</b> {{ profile.expected_grad_date }}</p>
<p><b>Interested Research Topics:</b> {{ profile.research_topics }}</p>
<p><b>Technical Elective Courses:</b><br> {{ profile.elect_courses }}</p>
<p><b>Programming Languages Experience:</b><br> {{ profile.languages }}</p>
<p><b>Prior Research Experience:</b><br> {{ profile.prior_research }}</p><br>