<!--    
# ================================================================
#   Name:           student application html
#   Description:    A row of data holding all info for a 
#                   specific student application
#   Last Changed:   11/16/21
#   Changed By:     Reagan Kelley
#   Change Details: Initial Implementation
# ================================================================
-->

<table class = "coursetable">
    <thead>
    <tr valign = "middle">
        <td width = "20%"> {{position_name}} </td>
        <td width = "20%"> {{profile.first_name}} {{profile.last_name}} </td>
        <td width = "20%"> {{student.email }} </td>
        <td width = "15%"> {{ profile.major }}</td>
        <td width = "10%"> {{ profile.gpa }} </td>
        <td width = "15%">  

            {% if applicant.get_status() == 'Pending' %}
            <form action = "{{url_for('routes.review', postid = post.id, userid = student.id)}}" method="post">
                <input type="submit", value="Review", class="review_button">
             </form>

             {% elif applicant.get_status() == 'Reject' %}

              <p style="color:red"> Rejected </p>

             {% elif applicant.get_status() == 'Interview' %}

             <p style="color:lightsalmon"> Approved for Interview </p>

             {% elif applicant.get_status() == 'Hired' %}
              
             <p style="color: green"> Hired </p>

            {% endif %}

        </td>

    </tr>
    </thead>
</table>