<!--    
# ================================================================
#   Name:           applications html
#   Description:    Displays all applications for faculty postions
#   Last Changed:   11/16/21
#   Changed By:     Reagan Kelley
#   Change Details: Initial Implementation
# ================================================================
-->

{% extends "base.html" %}

{% block content %}

<table class = "coursetable">
    <thead>
    <tr valign = "bottom">
        <td width = "20%"> Name</td>
        <td width = "30%"> Email</td>
        <td width = "30%"> Major </td>
        <td width = "20%"> GPA </td>

    </tr>
    </thead>
</table>
{% for post in posts %}
    {% for applicant in post.get_applicants() %}
        {% set student = applicant.get_applicant() %}
        {% set profile = student.get_permissions() %}
        {% include '_studentapplication.html' %}
    {% endfor %}
{% endfor %}



{% endblock %}
