<!--    
# ================================================================
#   Name:           base html
#   Description:    UI for site header
#   Last Changed:   11/24/21
#   Changed By:     Reagan Kelley
#   Change Details: Revised to compensate for new database model
# ================================================================
-->




<html>
    <head>
       {% if title %}
          <title>{{ title }} - Lab Opportunities </title>
       {% else %}
          <title> Welcome to the Post Portal! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

       {{ moment.include_moment() }}
    </head>

    <body style = "background-color: white;">
        <div class ="nav-container" style="background-color: white;">
        <table>
            
            <tr>
                {% if current_user.is_anonymous %}

                

                {% else %}
            
                    <td><a href="{{ url_for('routes.index') }}" class = "button">Home</a></td> 
                    {% if current_user.get_user_type() == 'student' %}
                        <td><a href = "{{ url_for('routes.student_profile') }}"> Profile </a></td>
                    {% else %}
                        <td><a href="{{ url_for('routes.postposition') }}" class = "button"> New Post </a></td>
                        <td><a href="{{ url_for('routes.applications') }}" class = "button"> Applications </a></td>

                    {% endif %}
                    
                    <td><a href="{{ url_for('auth.logout') }}" class = "button"> Logout </a></td>

                {% endif %}
            </tr>
        </table>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                
                <div class = "flash-container">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>