<!--    
# ================================================================
#   Name:           base html
#   Description:    UI for site header
#   Last Changed:   11/24/21
#   Changed By:     Reagan Kelley
#   Change Details: Revised to compensate for new database model
# ================================================================
-->




<html>
    <head>
       {% if title %}
       <title> {{ title }} - Lab Opportunities </title>
       {% else %}
            <title> Welcome to the Post Portal! </title>
       {% endif %}
       <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

       {{ moment.include_moment() }}
    </head>

    <body style = "background-color: white;">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        {% if current_user.is_anonymous == False %}
        <div class="sidenav">  
        <table>
            
            <tr>
                {% if current_user.is_anonymous %}

                

                {% else %}
                    
                    <a href="{{ url_for('routes.index') }}""><p style = "font-size: 20; font-family:sans-serif;"> Home </p></i></a>
                    
                    {% if current_user.get_user_type() == 'student' %}
                    <a href="{{ url_for('routes.student_profile')}}"><p style = "font-size: 20; font-family:sans-serif;"> Profile</p></i></a>
                    
                    {% else %}
                        <a href="{{ url_for('routes.postposition') }}"><p style = "font-size: 20; font-family:sans-serif;"> New Post</p></i></a>
                        <a href="{{ url_for('routes.applications') }}"><p style = "font-size: 20; font-family:sans-serif;"> Applications</p></i></a>

                    {% endif %}
                    <a href="{{ url_for('auth.logout') }}"><p style = "font-size: 20; font-family:sans-serif;"> Logout</p></i></a>

                {% endif %}
            </tr>
            
        </table>
        </div>
        {% endif%}
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                
                <div class = "flash-container" style = "margin-left: 9%;">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block content %} {% endblock %}
        </div>

    </body>
</html>