<!--    
# ================================================================
#   Name:           create html
#   Description:    UI for create route
#   Last Changed:   11/11/21
#   Changed By:     Reagan Kelley
#   Change Details: Inital Implementation of create 
#                   (creates Position Posts)
# ================================================================
-->


{% extends "base.html" %}

{% block content %}
    <h1>Create New Position Post</h1>

    {% if form %}
        <h1> I love you. </h1>

    {% endif %}


{% endblock %}