<!--    
# ================================================================
#   Name:           create html
#   Description:    UI for create route
#   Last Changed:   12/1/21
#   Changed By:     Reagan Kelley
#   Change Details: Added time commitment and start & end date
# ================================================================
-->


{% extends "base.html" %}

{% block content %}
    <h1 style="margin-left: 15%;">Create New Position Post</h1>

    {% if form %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        
        <div style="margin-left: 15%;">
            <!--Displays the form item for the post's `title`.--> 
            <b>{{ form.title.label }} </b><br>
            {{ form.title(class="formtitle") }}<br><br>


            <!-- Title Form Errors -->   
            {% for error in form.title.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <!--Displays the form item for the post's ` body`.-->   
            <b>{{ form.body.label }}</b><br>
            {{ form.body(class="formbody") }}<br><br>
            
            <!-- Body Form Errors -->   
            {% for error in form.body.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <!--Displays the form item for the post's ` time commitment`.-->   
            <b>{{ form.time_commitment.label }}</b><br>
            {{ form.time_commitment(class="formtitle") }}<br><br>
            
            <!-- Time Commitment Form Errors -->   
            {% for error in form.time_commitment.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <!--Displays the form item for the post's `start & end date`.-->   
            <b>{{ form.start_date.label }} and {{ form.end_date.label }} (MM/DD/YYYY)</b><br>
            {{ form.start_date(class="formtitle") }} to {{ form.end_date(class="formtitle") }}<br><br>
            
            <!-- Start Date Form Errors -->   
            {% for error in form.start_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <!-- End Date Form Errors -->   
            {% for error in form.end_date.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
             
        
            
            <!--Displays the form item for the post's ` tags`.-->  
            {{ form.majors.label}} 
            {{ form.majors(class="formtags") }}
            <br><br>

            {{ form.fields.label}} 
            {{ form.fields(class="formtags") }}    
            <br><br><br><br>
            <br><br><br><br><br><br>

            <!-- Submit Button -->   
            {{ form.submit(class="button") }}

            <style>
                h3.a {
                    visibility: hidden;
                }
            </style>
            <h3 class="a">{{ form.check(class="button") }}</h3>

        </div>
    </form>

    <script>
        let major_select = document.getElementById('majors');
        let button = document.getElementById('check')

        major_select.onchange = function() {
            button.click()

        };
    </script>

    {% endif %}


{% endblock %}