<!--    
# ================================================================
#   Name:           Index html
#   Description:    UI for index route
#   Last Changed:   11/24/21
#   Changed By:     Reagan Kelley
#   Change Details: Revised to compensate for new database model
# ================================================================
-->

{% extends "base.html" %}

{% block content %}
  
    <h1 style="margin-left: 14%;";>Welcome to Lab Opportunities!</h1>
    <h2 style="margin-left: 14%;"> "A ship does not sail with yesterday's winds." </h2> 
    {% if current_user.get_user_type() == 'student' %}
    {% if current_user.can_apply() == False %}
    
    <h3><span style="color:red; margin-left: 15%;"> ** Your Profile Information needs to be updated! ** <br><br> 
    
        <span style = "color:red; margin-left: 15%; "> Go to </span><a style = "text-decoration: none; "href = "{{ url_for('routes.student_profile') }}"> Profile</a> to update. </span> 
    </h3>

    {% endif %}
    {% endif %}

    {% if current_user.get_user_type() == 'faculty' %}
    <form action= "" method = "post" class = "formselect" style="margin-left: 14%; "> <div style="width: auto; margin-bottom: 3%;">Sort by: {{form.hidden_tag()}} Display your posts only {{form.checkbox}}</div> 
    {{form.refresh (class = "refresh_button")}} </form>

    {% endif %}
    <h3 style="margin-left: 14%;">Total number of Posts: {{ post_count }} </h3>
    
    <!-- Make Lists of Posts -->
    <div class = "postlist">
    {% for post in posts %}
       
       <div class = "post-box" >{% include '_post.html' %}</div > 
       
    {% endfor %}
    </div>
  
    
{% endblock %}