<!--    
# ================================================================
#   Name:           Index html
#   Description:    UI for index route
#   Last Changed:   10/26/21
#   Changed By:     Reagan Kelley
#   Change Details: Skeleton version of index html
# ================================================================
-->

{% extends "base.html" %}

{% block content %}
    
    <h1>Welcome to Lab Opportunities!</h1>
    <h2> "A ship does not sail with yesterday's winds." </h2> <br>

    <h3>Number of Posts: {{ post_count }} </h3>

    <!-- Make Lists of Posts -->
    <div class = "postlist">
    {% for post in posts %}
       
       <div class = "post-box">{% include '_post.html' %}</div> 

    {% endfor %}
    </div>

    
{% endblock %}